<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CMSContext" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=D:\Resources\Programming Languages\vs projects\CMS\CMS\CMS.DAL\Database\CMSDB.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>